.date{
  background-color: white;
  width: 65%;
  margin: auto;
  border: 1px solid #bdbfc1;
  margin-bottom: 5px;
}
.date__title{
  padding: 10px;
}
.date-info{
  width: 100%;
}
.date h3{
  display: inline-block;
}
.date__btn{
  transition-duration: 0.2s;
  cursor: pointer;
  padding-left: 10px;
}
.date h3:nth-child(2){
  padding-left: 10px;
}
.date h3:nth-child(3){
  float: right;
  padding-right: 15px;
}
