.date{
  background-color: white;
  width: 65%;
  margin: auto;
  border: 1px solid #bdbfc1;
  padding: 10px;
}
.date h3{
  display: inline-block;
}
.date__btn{
  transition-duration: 0.2s;
  cursor: pointer;
  margin-left: 10px;
}
.date h3:nth-child(2){
  margin-left: 10px;
}
.date h3:nth-child(3){
  float: right;
  margin-right: 15px;
}
