.doc{
	margin: 0 45px;
}
.doc:not(:last-child){
    border-bottom: 1px solid gray;
}
.doc__title{
	display: flex;
	justify-content: space-between;
}
.doc__goods{
	display: flex;
	justify-content: left;
}
.doc__item-amount{
	margin-left: 5px;
}
.doc__goods :not(.doc__btn), .doc__title{
	font-size: 1.3rem;
}
.doc__btn{
	margin-left: 10px;
	cursor: pointer;
	transition-duration: 0.5s;

    font-family: TWB00o;
}