.doc{
	margin: 0px 40px 0px 30px;
}
.doc__title{
	display: flex;
	justify-content: space-between;
}
.doc__goods{
	display: flex;
	justify-content: left;
}
.doc__btn{
	margin-left: 10px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.doc__goods p:nth-child(2){
	margin-left: 5px;
}