@import "mixin";
.doc{
	padding: 0 45px;

	&:not(:last-child){
		border-bottom: 1px solid gray;
	}
}
.doc__title{
	display: flex;
	justify-content: space-between;
}
.doc__title_total-invisible{
	display: none;
	margin-right: 5px;
}
.doc__goods{
	display: flex;
	justify-content: left;

	& > p{
	margin-top: 0;
	}
}
.doc__item-amount{
	margin-left: 5px;
}
.doc__btn{
	font-family: EversonMono;
	font-size: 1.6rem;
	line-height: 0.9;
	@include button(0.5s, 5px 0);
}