@font-face{
	font-family: EversonMono;
	src: url('./fonts/EversonMono.ttf');
}
body {
	background-color: #e8ebef;
	font-size: large;
	margin: auto;
}
.date__btn, .changeFont{
	font-display: swap;
	font-family: EversonMono, default;
}
.lazy{
	border: 1px solid black;
}
.rotate{
	transform: rotate(180deg);
}
.scale{
	transform: scaleX(-1);
}

@media screen and (max-width: 800px) {
	.date{
		width: 100%;
		margin: 0;
	}	
}
@media screen and (max-width: 550px) {
	.date__btn, .doc__btn{
		height: 30px;
	}
	.date__document-amount{
		margin: 0 0 3px 0;
		float: none;
		position: relative;
		text-align: center;
	}
	.doc{
		padding: 0 5px;
	}
	.doc__title{
		flex-wrap: wrap;
		justify-content: center;

		&  p:first-child{
			flex-grow: 1;
			margin-bottom: 0;
			flex-basis: 100%;
			text-align: center;
		}
	}
	.doc__title_total-invisible{
		display: inline-block;
	}
	.doc__goods{
		margin-left: 10px;
	}
	.products{
		padding-left: 0;
	}
	.products__item{
		flex-direction: column;
		align-items: center;
	}
	.products__item_text-wrap{
		max-width: 250px;
		& span {
			margin-left: 10px;
		}
	}
	.products__item_wrap-name{
		text-align: center;
	}
}

