@import "mixin";
.products{
	color: black;
	font-weight: 500;
}
.products__item{
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	padding: 1.5px 5px;
}
.products__item_wrap-for-image{
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.products__item_wrap-img{
	max-height: 100px;
	box-sizing: border-box;
}
.products__item_text-wrap{
	padding: 0 10px;
	@include fade_long_text;
	flex-grow: 1;
}
.products__item_wrap-name{
	@include fade_long_text;
	white-space: nowrap;	
}
.products__item_wrap-amount{
	text-align: left;
}
.products__item_wrap-amount-total{
	float: right;
}