.income{
	margin: 0px 40px 0px 30px;
}
.income-title{
	display: flex;
	justify-content: space-between;
}
.income-goods{
	display: flex;
	justify-content: left;
}
.income-goods p:first-child{
	margin-left: 10px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.income-goods p:nth-child(2){
	margin-left: 5px;
}