.date{
  background-color: white;
  width: 60%;
  margin: auto;
  border: 1px solid #bdbfc1;
  padding: 10px;
}
.date-info {

}
.date-title h3{
  display: inline-block;
}
.date-title h3:first-child{
  transition-duration: 0.2s;
  cursor: pointer;
  margin-left: 10px;
}
.date-title h3:nth-child(2){
  margin-left: 10px;
}
.date-title h3:nth-child(3){
  float: right;
  margin-right: 15px;
}
