<div class='date'>
<div class='date-title'>
<h3>&#9013; </h3><h3>{{date}} 1 апреля епт</h3> <h3>Документов: {{docsNum}} {{amount}} рублей</h3></div>
<div class='date-info' style='display:none'>
{% include "./income.njk" %}
</div>
</div>