<div class='income'>
<div class='income-title'><h3>{{income.type}}Приход {{income.num}}№12345</h3><h3>{{income.total}}000&#8381;</h3></div>
<div class='income-goods'><p>&#9660;</p><p>Товаров: {{goods.amount}}</p> </div>
<div class='income-info' style='display:none'>
{% include "./product.njk" %}
</div>
</div>