{% include "./src/date.njk" %}
{% set username = "Igor" %}
<!DOCTYPE HTML>
<html lang="ru">

<head>
	<title>Тестовое задание</title>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="all.css">
	<script src='all.js'></script>
</head>
<body>

{% for ingredient, amount in goods %}
  Use {{ amount }} of {{ ingredient }} <br><br>
{% endfor %}
<br>
<br>

{{goods.date}}
{{goods[0]}}
<br>
{{username}}

</body>
</html>